@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
/* Landing Page */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(219, 225, 219, 0.52),
      rgba(187, 172, 202, 0.5)
    ),
    url(https://images.unsplash.com/photo-1504814532849-cff240bbc503?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
}
nav img {
  margin-top: -20px;
}
.nav-links ul li {
  list-style-type: none;
  padding: 8px 12px;
  position: relative;
  display: inline-block;
}
.nav-links ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(39, 26, 26);
}
.nav-links ul li a::after {
  content: "";
  background: black;
  height: 3px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: 0.7s;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.fa-bars {
  display: none;
}
.textbox {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}
.textbox h3 {
  font-size: 30px;
  letter-spacing: 5px;
}
.textbox p {
  letter-spacing: 5px;
}
/* Course section */
.course {
  text-align: center;
  width: 88%;
  margin: 3px auto;
}
.course .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}
.course-col {
  width: 30%;
  padding: 1%;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  /* box-shadow: 10px 10px rgba(0,0,0,0.1); */
}
.course-col:hover {
  transform: translateY(-25px);
  box-shadow: 10px 10px rgba(12, 40, 227, 0.2);
}
.course-col h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
.course-col p {
  font-size: 15px;
  text-align: center;
}
.course-col img {
  width: 100%;
  max-height: 300px;
  border-radius: 15px;
  margin-bottom: 14px;
}
.content-section {
  background-color: blue;
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  letter-spacing: 2px;
}
.content h3,
p {
  text-align: center;
  color: #f0f0f0;
  letter-spacing: 1px;
}
button {
  background-color: rgb(64, 64, 97);
  padding: 10px 20px;
  margin: 10px 50%;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
  transition: 1s;
}
button:hover {
  background: transparent;
}
/* .social {  }*/
.fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 50px;
}
.fa-brands:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.image-section {
  margin: 10px 450px;
  cursor: pointer;
}
.image-section:hover {
  opacity: 0.7;
}
.footer-design {
  height: 50px;
  width: 100%;
  background-color: #007bb5;
}
.footer-design h3 {
  text-align: center;
  padding: 14px 0;
  color: #f0f0f0;
  cursor: pointer;
}
